@{ 
    Layout = null;
}

@*model AppStartupModel*@
<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <base href="@(ViewBag.BaseUrl)" />
    <title ng-bind="($title ? $title + ' - ' : '') + 'MyKMGLife'">MyKMGLife</title>
    <link href="~/Images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @*@Styles.Render("~/Content/kmg-app.css")*@
    @*<script src="https://use.typekit.net/zae5awi.js"></script>*@
    @*<script>try { Typekit.load({ async: true }); } catch (e) { }</script>*@

    @*
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    *@
</head>

<body class="mykmglife">

    <div class="container-fluid">
        <div class="row">
            <div ui-view="navbar" class="col-sm-12"></div>
        </div>
        <div class="row">
            <div ui-view="content" class="col-sm-12 view-fade-in"></div>
        </div>
    </div>

    <footer id="footer">
        <div class="container-fluid">
            <div class="wrap">
                <p>&copy; KMGLife Inc. @DateTime.Now.Year</p>
            </div>
        </div>
    </footer>

    @*<div class="footer-fixed" ng-include="'/kmg-app/shared/common/feedback/feedback-history.tpl.html'" ng-controller="FeedbackHistoryController as vm">
    </div>*@
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "antiForgeryForm" }))
    {
        @Html.AntiForgeryToken()
    }

    @Scripts.Render("~/bundles/scripts.js")
    @Scripts.Render("~/bundles/angular.js")
    @Scripts.Render("~/bundles/kmg-app.js")
    @Scripts.Render("~/bundles/templateCache.js")
</body>
</html>