@{ 
    Layout = null;
}

@*model AppStartupModel*@
<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    @*<base href="@(Model.BaseUrl)" />*@
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title ng-bind="($title ? $title + ' - ' : '') + 'MyKMGLife'">MyKMGLife</title>
    <link href="~/Images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @*@Styles.Render("~/Content/kmg-app.css")*@
    @*<script src="https://use.typekit.net/zae5awi.js"></script>*@
    @*<script>try { Typekit.load({ async: true }); } catch (e) { }</script>*@
</head>

<body class="mykmglife">

    <div class="container-fluid">
        <div class="row">
            <div ui-view="navbar" class="col-sm-12"></div>
        </div>
        <div class="row">
            <div ui-view="content" class="col-sm-12 view-fade-in"></div>
        </div>
    </div>

    <footer id="footer">
        <div class="container-fluid">
            <div class="wrap">
                <p>&copy; KMGLife Inc. @DateTime.Now.Year</p>
            </div>
        </div>
    </footer>

    @*<div class="footer-fixed" ng-include="'/kmg-app/shared/common/feedback/feedback-history.tpl.html'" ng-controller="FeedbackHistoryController as vm">
    </div>*@
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "antiForgeryForm" }))
    {
        @Html.AntiForgeryToken()
    }

    @Scripts.Render("~/bundles/scripts.js")
    @Scripts.Render("~/bundles/angular.js")
    @Scripts.Render("~/bundles/kmg-app.js")
    @Scripts.Render("~/bundles/templateCache.js")
</body>
</html>